# include LICENSE
# include .coveragerc
include README.md
include .editorconfig
include .envrc*
include *.py
include *.md
include *.txt
include *.ini
include *.cfg
recursive-include tests  *.py
recursive-include py.requirements  *.txt

# -- EXLCUDED-PARTS:
exclude __*
prune __*
prune build
prune dist
prune .direnv
prune .tox
prune .venv*
